* {
    margin: 0;
    padding: 0;
}

.text {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1 {
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    transition: 0.5s;
}

.text h1::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 3px;
    top: 50%;
    right: -5px;
    background-color: darkred;
    transform: translateY(-50%);
    animation: ami 1s infinite;
    transition: 0.5s;
}

@keyframes ami {


    form {
        height: 10%;
    }

    to {
        height: 100%;
    }
}